:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Plus Jakarta Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #151515;
  text-align: center;
}

.header {
  margin-top: 30px;
}

.header h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 87%;
  letter-spacing: -0.02em;
  color: #fff;
  margin-bottom: 2px;
}

.header h2 {
  margin-top: 0px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.04em;
  color: #fff;
}

.goto-upload-button {
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  border: none;
  border-radius: 7px;
  padding: 12px 16px;
  width: 160px;
  height: 39px;
  background: #0060ff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-top: 40px;
}

#image {
  margin-top: 60px;
  height: 559px;
  width: auto;
  opacity: 1;
  transition: opacity 0.8s ease-in-out;
}
