# Application settings
SECRET_KEY=dev-key
DEBUG=true

# Directories
UPLOAD_FOLDER=uploads

# Logging settings
LOGS_FOLDER=logs
LOG_FILE=app.log

# DB Settings
DATABASE_URL=postgresql://<db_login>:<db_password>@img_srv_pgsql:5432/images_db
POSTGRES_DB=images_db
POSTGRES_USER=<db_login>
POSTGRES_PASSWORD=<db_password>

# Web routes
ROOT_ROUTE=/api/
UPLOAD_ROUTE=upload
DELETE_ROUTE=delete
IMAGES_ROUTE=images
IMAGES_RANDOM_ROUTE=random

# Static web routes
STATIC_ROOT_ROUTE=/
DOWNLOAD_ROUTE=download

# Images constraints
# Max image file size
# 5Mb = 5242880 = 5 * 1024 * 1024
MAX_CONTENT_LENGTH=5242880

# Images extensions 
ALLOWED_EXTENSIONS='.jpg,.jpeg,.png,.gif'

# Images MIME types
ALLOWED_MIME_TYPES='image/jpeg,image/png,image/gif'

# Flask settings
FLASK_HOST=0.0.0.0
FLASK_PORT=8000
FLASK_DEBUG=true

# Pagination
IMAGES_PER_PAGE=5

# Backups settings
BACKUP_FOLDER='backup'
BACKUP_TIMESTAMP_FORMAT='%Y_%m_%d_%H_%M_%S'
